%div#map{:style => "height:900px;width:1600px;position:absolute;left:auto"}
:javascript 
  var map = L.map('map', {//Center [vertical,horizontal]
    center: [-55,-93],        //[-65 to 0, -93 to 93 ] at zoom 3 otherwise shows grey
    zoom: 3
  });
  L.tileLayer('/assets/media/pandaria/{z}/{x}/{y}.png',{
      attribution: 'Map data from Kitty',
      minZoom: 1,
      maxZoom: 3,
      tms: true
  }).addTo(map);
  var marker = L.marker([-55, -93]).addTo(map);
  var polygon = L.polygon([
    [-49, -84], //5:9 appears to be square?
    [-49, -97],
    [-60, -97],
    [-60, -84]
    ]).addTo(map);

  var circle = L.circle([-60, -90], 0.5).addTo(map);
